body {
  margin: 0;
  font-family: Lavishly Yours, serif;
  background-color: #F5EFE6;
  overflow-x: hidden;
}

/* PORTADA */
.cover {
  height: 100vh;
  background: #EDE3D9;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: fixed;
  width: 200%;
  z-index: 1000;
  transition: opacity 1s ease;
}

.cover button {
  padding: 24px 60px;
  background-color: #A3B18A;
  border: none;
  color: white;
  border-radius: 30px;
  cursor: pointer;
}

/* OCULTO */
.oculto {
  display: none;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 40px 20px;
}

/* CARD */
.card {
  background-color: #EDE3D9;
  padding: 50px 30px;
  border-radius: 20px;
  width: 85%;
  max-width: 400px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.detalle {
  width: 60px;
  height: 2px;
  background-color: #A3B18A;
  margin: 15px auto 25px auto;
}

.card button, .whatsapp {
  padding: 12px 25px;
  background-color: #A3B18A;
  border: none;
  color: white;
  border-radius: 25px;
  margin-top: 15px;
  cursor: pointer;
}

/* CONTADOR */
#cuenta {
  font-size: 1.5rem;
  margin-top: 20px;
}

/* ANIMACIONES */
.animar {
  opacity: 0;
  transform: translateY(40px);
  transition: all 1s ease;
}

.animar.visible {
  opacity: 1;
  transform: translateY(0);
}
