* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Georgia', serif;
}

body {
  background-color: #F5EFE6;
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

/* HERO */
.hero {
  background-color: #EDE3D9;
  color: #3A3A3A;
  position: relative;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero button {
  padding: 12px 25px;
  border: 1px solid #A3B18A;
  background: transparent;
  color: #A3B18A;
  cursor: pointer;
  font-size: 1rem;
}

/* SECCIÓN CON FONDO */
.inicio {
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
              url("img/dino1.png") center/contain no-repeat;
  background-color: #F5EFE6;
  color: white;
}

.overlay {
  background: rgba(0,0,0,0.4);
  padding: 40px;
  border-radius: 15px;
}

/* IGLESIA */
.iglesia {
  background-color: #EDE3D9;
  color: #3A3A3A;
}

.iglesia button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #A3B18A;
  border: none;
  color: white;
}

/* CONFIRMACIÓN */
.confirmacion {
  background-color: #F5EFE6;
  color: #3A3A3A;
}

.whatsapp {
  margin-top: 20px;
  padding: 12px 25px;
  background-color: #A3B18A;
  border: none;
  color: white;
  font-size: 1rem;
}
